.PersonInfoBox {
    max-width: 85%;
    height: 100%;
    z-index: 2;
    position: relative;

    padding: 5rem 0.5rem 1rem 0.5rem;
}

.TextBox {
    min-height: 33vh;
    background: #F5F5F5;
    padding: 1rem;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}
.Text p {
    font-size: 15px;
    width: 100%;

    text-align: start;
    line-height: 1.6;
}
.ImageBox {
    position: relative;

    width: 160px;
    height: 160px;
}

.float__right {
    float: right;
}

.float__left {
    float: left;
}

.Image__right {
    width: 100%;
    height: auto;

    position: absolute;
    left: 20%;
    top: -20%;
}
.Image__left {
    width: 100%;
    height: auto;

    position: absolute;
    left: -20%;
    top: -20%;
}

@media (min-width: 650px) {
    .PersonInfoBox {
        width: 65%;
    }
}
@media (min-width: 768px) {
    .PersonInfoBox {
        width: 50%;
        margin: 0;
    }
}
@media (min-width: 1024px) {
    .ImageBox {    
        width: 200px;
        height: 180px;
    }
}
@media (min-width: 1260px) {
    .PersonInfoBox {
        width: 40%;
    }
}