* {
  box-sizing: border-box;
}
.PricesContainer {
  padding: 20px;
  background: #9381ff;
}
.PricesContainer > .Title {
  font-size: 70px;
  color: white;
}
.PricesBox {
  display: flex;
  flex-direction: column;

  align-items: center;
}
@media screen and (min-width: 750px) {
  .PricesContainer > .Title {
    font-size: 100px;
  }
}
@media screen and (min-width: 1000px) {
  .PricesBox {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .PricesContainer > .Title {
    font-size: 150px;
  }
}
