.toolbar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-top: 1rem;
  padding: 0 2rem;
}
.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul {
  width: 70%;
  list-style: none;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

ul li > a {
  -webkit-tap-highlight-color: transparent;
  color: rgb(126, 126, 126);
}
ul li:hover {
  cursor: pointer;
  transition-duration: 0.4s;
}

ul li:active {
  transform: translateX(25px);
}

.logo {
  font-size: 15px;
  max-width: 30%;
  font-weight: 300;
  color: #f4c2cb;
}

@media screen and (min-width: 768px) {
  ul {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  ul {
    width: 30%;
  }
  .logo {
    font-size: 20px;
    max-width: 45%;
  }
}
@media screen and (min-width: 1440px) {
  ul {
    width: 20%;
  }
}
