* {
  font-family: "Montserrat", sans-serif;
}
.App {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
.MessageContainer {
  position: sticky;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@media (min-width: 480px) {
  .text {
    font-size: 16px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
