.App {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
.MessageContainer{
  position: sticky;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

@media (min-width: 480px) {
  .text {
    font-size: 16px;
  }
}
