.About {
    margin-top: 150px;

    min-height: 150vh;
    text-align: center;
}

.Header {
    margin: auto;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0 2rem;
}
.Title {
    font-weight: 400;
    font-size: 6vw;
}
.Text {
    width: 100%;
    font-size: 4vw;
    font-weight: 100;
}

.PersonInformation {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
}
.Background {
    position: absolute;

    top: 100px;

    height: 90vh;
    width: 100%;

    z-index: 0;
    background: #252420;
}
@media (min-width: 687px) {
    .PersonInformation *:nth-child(n){
        align-self: flex-start;       
    }
    .PersonInformation *:nth-child(2n+0){
        align-self: flex-end;       
    }
}
@media (min-width: 1024px) {
    .Header {
        width: 80%;
    }
    .Text {
        font-size: 3vw;
    }
}
@media (min-width: 1024px) {
    .Header {
        width: 60%;
    }
    .Text {
        font-size: 2vw;
    }
    .Title{
        font-size: 4vw;
    }
}