.About {
    margin-top: 150px;

    min-height: 150vh;
    text-align: center;
}

.Header {
    margin: auto;
    
    display: flex;
    flex-direction: column;

    align-items: center;
}
.Title {
    font-weight: 400;
}
.Text {
    width: 100%;
}

.PersonInformation {
    position: relative;
}
.Background {
    position: absolute;

    top: 100px;

    height: 90vh;
    width: 100%;

    z-index: 0;
    background: #252420;
}