.Contact {
  min-height: 60vh;
  padding: 30px;
}

.Contact__Container {
  display: flex;
  flex-direction: column;

  min-height: 80vh;

  justify-content: space-around;
}
.Contact__Container__MapContainer {
  display: flex;
  flex-direction: column;
}
.Contact__Container__MapContainer__Map {
  height: 300px;
}
.Contact__NormalText {
  font-size: 25px;
  font-weight: 100;
}
.Contact__Container_MiddleText {
  align-self: center;
}
.Contact__Container__CallMeContainer__Number {
  color: #7e313f;
}
.Contact__Container__CallMeContainer__BottomText {
  margin: 20px 0 20px 0;
}

@media (min-width: 1000px) {
  .Contact__Container {
    flex-direction: row;
    align-items: center;

    min-height: 50vh;
  }
  .Contact__Container__MapContainer__Map {
    height: 400px;
    width: 400px;
  }
  .Contact__Container__CallMeContainer {
    width: 40%;
    align-self: flex-end;
  }
}
