* {
  box-sizing: border-box;
}
.PricesContainer {
  padding: 20px;
}
.PricesContainer > .Title {
  font-size: 70px;
}
.PricesBox {
  display: flex;
  flex-direction: column;

  align-items: center;
}
