.toolbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 1rem;
}
ul {
    list-style: none;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 50%;
}